{
    "all": true,
    "check-coverage": true,
    "reporter": ["text", "lcov"],
    "include": ["src/**/*.ts"],
    "exclude": ["**/__mocks__/*", "**/*.spec.ts", "**/*.schema.ts", "**/index.ts"],
    "branches": [75, 90],
    "lines": [75, 90],
    "functions": [75, 90],
    "statements": [75, 90]
}